<div class="row">

  <div class="span4 offset4 well">
    <legend>Please Sign In</legend>
    <% if flash[:signin_error] %>
        <div class="alert alert-error">
          <a class="close" data-dismiss="alert" href="#">×</a> <%= flash[:signin_error] %>
        </div>
    <% end %>
    <%= form_for(:session, url: sessions_path) do |f| %>
        <%= f.text_field :username, class: "span4", placeholder: "Username" %>
        <%= f.password_field :password, class: "span4", placeholder: "Password" %>

        <%= f.submit "Sign in", class: "btn btn-info btn-block" %>
    <% end %>
  </div>

</div>

