<article class="comment<%= if comment.user == comment.article.user then " comment-author" else " comment-other" end %>" id="comment_<%= comment.id %>">
  <header><%= comment.user.username %><time datetime="<%= comment.created_at %>"><%= comment.created_at.strftime('%e %b %Y') %></time></header>
  <div>
    <%= comment.content %>
  </div>
</article>
