<li id="<%= article.id %>">
  <div class="well2">
    <div class="page-header">
      <h2><%= link_to article.title, article_path(article) %></h2>
    </div>
    <div class="content">
      <%= article.description %>
    </div>
    <%= link_to 'Read more', article_path(article), class: "btn btn-small pull-right read-more" %>
    <div class="clearfix"></div>
  </div>
  <ul class="breadcrumb">
    <li><i class="icon-calendar "></i>&nbsp;<strong>Posted </strong><%= l article.created_at, :format => :long %> </li>
    <li>&nbsp;&nbsp;&nbsp;&nbsp;<i class="icon-user"></i>&nbsp;<strong>by </strong><%= link_to article.user.username, article.user %> </li>
  </ul>
</li>
