<li id="<%= article_feed_item.id %>">
  <div class="well2">
    <div class="page-header">
      <h2><%= link_to article_feed_item.title, article_path(article_feed_item) %></h2>
    </div>
    <div class="content"><%= article_feed_item.description %></div>
    <%= link_to 'Read more', article_path(article_feed_item), class: "btn btn-small pull-right" %>
    <div class="clearfix"></div>
  </div>
  <ul class="breadcrumb">
    <li><i class="icon-calendar "></i>&nbsp;<strong>Posted </strong><%= l article_feed_item.created_at, :format => :long %> </li>
    <li>&nbsp;&nbsp;&nbsp;&nbsp;<i class="icon-user"></i>&nbsp;<strong>by </strong><%= link_to article_feed_item.user.username, article_feed_item.user %> </li>
  </ul>
</li>