<% content_for(:title, "Articles") %>
<div class="row">
  <div class="span10 offset1">
    <div class="clearfix">
      <div class="pull-left span8" style="line-height:41px;margin-left:70px">
        <%= form_tag tags_filter_path, method: :get do %>
          <%= text_field_tag :tags, params[:tags], class: "span7", id: "tags_filter", placeholder: "Tags filter" %>
          <%= submit_tag 'Find', name: nil, class: "btn btn-info" %>
        <% end %>
      </div>

      <% if can? :create, Article %>
        <div class="pull-right">
          <%= link_to new_article_path, class: "btn btn-large btn-primary pull-right" do %>
            <i class="icon-pencil icon-white"></i> Write article
          <% end %>
          <div class="clearfix"></div>
        </div>
      <% end %>
    </div>

    <% if @articles.any? %>
      <section class="articles-list">
        <%= render @articles %>
      </section>
    <% else %>
      <div class="centralized-inputs">
        <h3>There is no articles</h3>
      </div>
    <% end %>

    <%= will_paginate @articles %>
  </div>
</div>

