<div class="row">
  <div class="hero-unit span7 offset2 well2">
    <div class="page-header">
      <h2><i class="icon-pencil"></i> New article</h2>
    </div>
    <% if @article.errors.any? %>
        <div class="alert alert-error">
          <a class="close" data-dismiss="alert" href="#">×</a>
          <ul>
            <% @article.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <%= form_for(@article) do |f| %>
        <%= control_group @article, :title do %>
            <%= f.text_field :title, class: "span7", placeholder: "Article title" %>
        <% end %>

        <%= control_group @article, :content do %>
            <%= f.text_area :content, class: "span7", rows: 25, placeholder: "Enter article content here ..." %>
        <% end %>

        <%= f.submit "Post article", class: "btn btn-primary btn-large pull-right" %>
    <% end %>
  </div>
</div>