<% content_for(:title, @article.title) %>

<div class="row">
  <div class="span10 offset1">
    <article id="<%= @article.id %>" class="entry">

      <div class="manage-buttons clearfix">
        <div class="pull-right">
          <% if can? :update, @article %>
            <%= link_to edit_article_path(@article), class: "btn btn-info" do %>
              <i class="icon-edit"></i> Edit
            <% end %>
          <% end %>

          <% if can? :destroy, @article %>
            <%= link_to article_path(@article), class: "btn btn-danger",
              method: :delete, confirm: "Are you sure you want to delete this article?" do %>
              <i class="icon-remove"></i> Delete
            <% end %>
          <% end %>
        </div>
      </div>

      <div class="main-content">
        <header>
          <div class="date">
            <span class="day"><%= l @article.created_at, format: "%d" %></span>
            <span class="month"><%= l @article.created_at, format: "%b" %></span>
            <span class="year"><%= l @article.created_at, format: "%Y" %></span>
          </div>
          <h2><%= @article.title %></h2>
        </header>

        <div class="body">
          <div class="content">
            <%= markdown @article.content %>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>

      <footer>
        <ul class="footer-elements">
          <li>
            <i class="icon-user"></i>
            <strong>by </strong>
            <%= link_to @article.author_name, @article.user %>
          </li>
          <li class="pull-right">
            <ul class="tags">
              <% @article.tags.each do |tag| %>
                <li>
                  <i class="icon-tags"></i><%= link_to tag, tag_path(tag) %>
                </li>
              <% end %>
            </ul>
          </li>
        </ul>
      </footer>

    </article>

    <section class="comments">
      <% if @article.comments.any? %>
        <%= render @article.comments %>
      <% else %>
        <div class="centralized-inputs">
          <h3>There is no comments</h3>
        </div>
      <% end %>

    <%= form_for([@article, Comment.new]) do |f| %>
      <%= f.text_area :content, class: "span7", rows: 25, placeholder: "Enter your comment here ..." %>
      <%= f.submit "Post", class: "btn btn-primary btn-large pull-right" %>
    <% end %>
    </section>

  </div>
</div>
