<% content_for(:title, @article.title) %>
<div class="row">
  <div class="span10 offset1">
    <div class="article-details">

      <div class="clearfix" style="line-height: 60px">
        <div class="pull-left">
          <h2><%= @article.title %></h2>
        </div>
        <div class="pull-right">
          <% if can? :update, @article %>
            <%= link_to edit_article_path(@article), class: "btn btn-info" do %>
              <i class="icon-edit"></i> Edit
            <% end %>
          <% end %>
        </div>
      </div>

      <div class="well2">
        <%= markdown(@article.content) %>
      </div>
      <ul class="breadcrumb">
        <li><i class="icon-calendar"></i>&nbsp;<strong>Posted </strong><%= l @article.created_at, format: :long %> </li>
        <li>&nbsp;&nbsp;&nbsp;&nbsp;<i class="icon-user"></i>&nbsp;<strong>by </strong><%= link_to @article.author_name, @article.user %> </li>
      </ul>
      <div class="tags">
        <i class="icon-tags"></i>&nbsp;<strong>Tags:</strong>&nbsp;
        <% if @article.tags.any? %>
          <%= raw @article.tags.map(&:name).map { |t| link_to h(t), tag_path(t) }.join(', ') %>
        <% else %>
          none
        <% end %>
      </div>
    </div>
  </div>

</div>
