<% content_for(:title, @article.title) %>

<div class="row">
  <div class="span10 offset1">
    <article id="<%= @article.id %>" class="entry">

      <div class="manage-buttons clearfix">
        <div class="pull-right">
          <% if can? :update, @article %>
            <%= link_to edit_article_path(@article), class: "btn btn-info" do %>
              <i class="icon-edit"></i> Edit
            <% end %>
          <% end %>

          <% if can? :destroy, @article %>
            <%= link_to article_path(@article), class: "btn btn-danger",
              method: :delete, confirm: "Are you sure you want to delete this article?" do %>
              <i class="icon-remove"></i> Delete
            <% end %>
          <% end %>
        </div>
      </div>

      <div class="main-content">
        <header>
          <div class="date">
            <span class="day"><%= l @article.created_at, format: "%d" %></span>
            <span class="month"><%= l @article.created_at, format: "%b" %></span>
            <span class="year"><%= l @article.created_at, format: "%Y" %></span>
          </div>
          <h2><%= @article.title %></h2>
        </header>

        <div class="body">
          <div class="content">
            <%= markdown @article.content %>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>

      <footer>
        <ul class="footer-elements">
          <li>
            <i class="icon-user"></i>
            <strong>by </strong>
            <%= link_to @article.author_name, @article.user %>
          </li>
          <li class="pull-right">
            <ul class="tags">
              <% @article.tags.each do |tag| %>
                <li>
                  <i class="icon-tags"></i><%= link_to tag, tag_path(tag) %>
                </li>
              <% end %>
            </ul>
          </li>
        </ul>
      </footer>

    </article>

    <section class="comments" id="comments">
      <h3>Comments</h3>
      <hr />

      <% if @article.comments.any? %>
        <%= render @article.comments %>
      <% else %>
        <div class="centralized-inputs">
          <h3>There is no comments</h3>
        </div>
      <% end %>

      <% if can? :create, Comment %>
        <%= form_for([@article, @comment],
                     url: article_comments_path(@article, anchor: "comments_form"),
                     html: { id: "comments_form", class: "clearfix comment-bubble comment-bubble-#{if @article.user == current_user then "author" else "other" end}" }) do |f| %>
          <%= control_group @comment, :content do %>
            <%= f.label :content, style: 'font-style: italic; font-size:11px' do %>
              Editor uses Markdown markup language. You can read reference <a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet" target="_blank">here</a>.
            <% end %>
            <%= f.text_area :content, style: "width: 100%", rows: 10, placeholder: "Enter your comment here ..." %>
          <% end %>
          <%= f.submit "Post", class: "btn btn-primary pull-right" %>
        <% end %>
      <% else %>
        Sign in to post comments
      <% end %>
    </section>

  </div>
</div>
