<% content_for(:title, "User: #{@user.username}") %>
<div class="row">
  <div class="span10 offset1">
    <div class="clearfix profile-header">

      <div class="pull-left">
        <h2 class="username"><i class="icon-user"></i> <%= @user.username %></h2>
        <% if @user.first_name || @user.last_name %>
          <h3 class="name">(<%= @user.first_name %> <%= @user.last_name %>)</h3>
        <% end %>
      </div>

      <div class="pull-right">
        <ul class="numbers clearfix">
          <li>Articles<strong><%= @user.articles.size %></strong></li>
        </ul>
      </div>

    </div>
    <% if @user_articles.any? %>
        <%= form_tag user_path(@user), method: :get do %>
          <%= text_field_tag :tags, params[:tags], class: "span7", id: "tags_filter", placeholder: "Tags filter" %>
          <%= submit_tag 'Find', name: nil, class: "btn btn-info" %>
        <% end %>

        <ul id="articles" class="unstyled">
          <%= render @user_articles %>
        </ul>
        <%= will_paginate @user_articles %>
    <% else %>
        <div class="centralized-inputs">
          <h3>User has no articles.</h3>
          <% if current_user == @user %>
              <%= link_to new_article_path, class: "btn btn-large btn-primary" do %>
                  <i class="icon-pencil icon-white"></i> Write article
              <% end %>
          <% end %>
        </div>
    <% end %>
  </div>
</div>
